body{
	color:black;
	font-family: Arial;
	background-color: skyblue;
}

p{
	text-align: left;
}

h1{
	color: black;
	text align:center;
}
.first{
	text-align:left;
}
h2{
	color: black;
}
table, th,td{
	border:1px solid black;
	width:100%;
}

nav{
	text-align: center;
	justify-content: center;
	padding:0;
	margin: 10;
	font-weight: bold;
	background-color: lightyellow;
}